# ignore any result from flake evaluation :
result

# ignore macos files
.DS_Store

# ignore secrets private keys
secrets/*
!secrets/*.sh
!secrets/scripts/
!secrets/python/
!secrets/*.py
!secrets/*.nix
# ignore any python cache
__pycache__
